
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

  audio:not([controls]) {
      display: none;
      height: 0;
  }

[hidden] {
  display: none;
}

html {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: auto;
  position: relative;
  font-size: 100%;
  line-height: 100%;
  font-weight: normal;
  font-family: 'Noto Sans TC', '微軟正黑體',Arial, sans-serif, 'PingFang TC', 'MHei', 'Helvetica', 'STHeitiTC-Light', 'Microsoft JhengHei';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
  -webkit-overflow-scrolling: touch;
  background: #FFF;
  
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

  a:active, a:hover {
      outline: 0;
  }

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

dl, menu, ol, ul {
  margin: 0;
}

ul {
  list-style: none;
  list-style-image: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  /*vertical-align: middle;*/
  font-family: 'Noto Sans TC', '微軟正黑體',Arial, sans-serif, 'PingFang TC', 'MHei', 'Helvetica', 'STHeitiTC-Light', 'Microsoft JhengHei';
}

button, input {
  line-height: normal;
}

  button, html input[type="button"],
  input[type="reset"], input[type="submit"] {
      -webkit-appearance: button;
      cursor: pointer;
      *overflow: visible;
  }

      button[disabled], input[disabled] {
          cursor: default;
      }

  input[type="checkbox"], input[type="radio"] {
      box-sizing: border-box;
      padding: 0;
      *height: 13px;
      *width: 13px;
  }

  input[type="search"] {
      -webkit-appearance: textfield;
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
  }

      input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
          -webkit-appearance: none;
      }

  button::-moz-focus-inner, input::-moz-focus-inner {
      border: 0;
      padding: 0;
  }

textarea {
  overflow: auto;
  vertical-align: top;
}

input, button, select, textarea {
  outline: none
}

*:focus {
  outline: none;
}

input:focus, textarea:focus {
  outline: none;
}

  input:focus:placeholder {
      color: transparent;
  }

  input:focus::-webkit-input-placeholder {
      color: transparent;
  }

  input:focus:-moz-placeholder {
      color: transparent;
  }

  input:focus::-moz-placeholder {
      color: transparent;
  }

  input:focus:-ms-input-placeholder {
      color: transparent;
  }

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

mark {
  background: #ff0;
  color: #000;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

  q:before, q:after {
      content: '';
      content: none;
  }

small {
  font-size: 75%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

hr {
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1em;
}

button {
  font-family: '微軟正黑體',Arial, sans-serif;
}

.wrapH100{
  width:100%;
  height: 100%;
  overflow: hidden;
  background: url('./../img/chinh-le-duc-132753-unsplash.png') no-repeat;
  background-size:cover;
  background-position:15%;
}
.wrapH100 > .inner{
  width:80%;
  height: 100%;
  margin: auto;
  position: relative;
}

.wrapH100 .txt{
  color:#EAEAEA;
  position: absolute;
  bottom:10%;
}

.wrapH100 .txt h2{
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.wrapH100 .txt p{
  font-size: 1.25rem;
  line-height: 150%;
}

.inn{
  width:1200px;
  margin:auto;
  padding:5%;
  text-align: center;
}

@media screen and (max-width:1300px) { 
  .inn{
    width:95%;
  }
}
.inn:not(:first-child){
  border-bottom: 1px solid red;
}
.inn .txt{
  text-align: center;
  margin-bottom: 40px
}
.inn h3{
  font-size: 3.125rem;
  margin-bottom: 30px;
}

.inn p{
  font-size: 1.25rem;
  line-height: 150%
}

.inn img.w100{
  width: 100%;
  height: 100%;;
}
.graphic3 .inn, .graphic6 .inn, .graphic9 .inn{
  border-top: 3px solid #EAEAEA
}
.graphic2 .block{
  background: url('./../img/fat2.png') no-repeat top center;
  height: 350px;
  position: relative;
}
.graphic3 .block{
  background: url('./../img/rich1.png') no-repeat top center;
  height: 350px;
  position: relative;
}

.graphic6 .block{
  background: url('./../img/dream01.png') no-repeat top center;
  height: 350px;
  position: relative;
}

.graphic .block .txt{
  position: absolute;
  text-align: left;
}
.graphic .block .tRight{
  text-align: right;
}
.graphic .block .txt h4{
  font-size: 1.25rem;
  display: block;
  margin-bottom: 15px;
  line-height: 150%
}
.graphic .block .txt span{
  font-size: 3rem;
  font-weight: bold;
  color:#2b63e2;
}
.graphic .block .txt2{
  bottom:0
}
.graphic .block .txt3{
  right:0;
}
.graphic .block .txt4{
  bottom:0;
  right:0
}

.graphic3 .block .txt2{
  top:50%;
  transform: translateY(-50%)
}
.graphic3 .block .txt3{
  right:auto;
  left:0;
  bottom:0;
}
.graphic3 .block .txt4{
  right:0;
  bottom:auto;
  top:0
}

.graphic3 .block .txt5{
  right:0;
  top:50%;
  transform: translateY(-50%)
}
.graphic3 .block .txt6{
  right:0;
  bottom:0;
}
.barBlock, .barBlock li{
  font-size: 0;
  width:100%
}
.barBlock, .barBlock li:not(:last-child){
  margin-bottom: 20px;;
}
.barBlock, .barBlock li h4{
  font-size: 1.25rem;
  margin-bottom: 15px;;
}
.barBlock li div{
  display: inline-block;
  width:49%;
  height: 40px;;
}
.barBlock li div.left{
  background: #EAEAEA;
}
.barBlock li div.left span{
  background: #7da0f0;
  float:right;
}
.barBlock li div.right{
  background:#EAEAEA;
  float:right;
}
.barBlock li div.right span{
  background:#eb6b70;
  /* position: absolute;
  left: 0 */
  float: left;
}
.barBlock li div.left, .barBlock li div.right{
  position: relative;
}
.barBlock li div.left span, .barBlock li div.right span{
height: 100%;
}

.barBlock li div.left b,.barBlock li div.left i, .barBlock li div.right b, .barBlock li div.right i{
  font-size:1.25rem;
  font-weight: bold;
  font-style: normal;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.barBlock li div.left b, .barBlock li div.left i{
  color:#7da0f0;
  float: right;
  margin-right:5px;
}
.barBlock li div.right b, .barBlock li div.right i{
  color:#eb6b70;
  float:left;
  margin-left:5px
}
.pointBlock{
  font-size: 0;
  margin-top:80px;
}
.pointBlock li{ 
  display: inline-block;  
  width:33.3%;
  text-align: center;
}
.pointBlock li span{
  font-size: 1.25rem;
  display: block;
  line-height: 150%
}


.wrapH100{
  visibility:hidden;
}
.delay-02s { animation-delay: 0.2s; -webkit-animation-delay: 0.2s; }
.delay-03s { animation-delay: 0.3s; -webkit-animation-delay: 0.3s; }
.delay-04s { animation-delay: 0.4s; -webkit-animation-delay: 0.4s; }
.delay-05s { animation-delay: 0.5s; -webkit-animation-delay: 0.5s; }
.delay-06s { animation-delay: 0.6s; -webkit-animation-delay: 0.6s; }
.delay-07s { animation-delay: 0.7s; -webkit-animation-delay: 0.7s; }
.delay-08s { animation-delay: 0.8s; -webkit-animation-delay: 0.8s; }
.delay-09s { animation-delay: 0.9s; -webkit-animation-delay: 0.9s; }
.delay-10s { animation-delay: 1s; -webkit-animation-delay: 1s; }
.delay-15s { animation-delay: 1s; -webkit-animation-delay: 1s; }
.delay-20s { animation-delay: 2s; -webkit-animation-delay: 2s; }
.delay-25s { animation-delay: 2s; -webkit-animation-delay: 2s; }
.delay-30s { animation-delay: 3s; -webkit-animation-delay: 3s; }
.delay-35s { animation-delay: 3s; -webkit-animation-delay: 3s; }

.fadeIn {
    visibility: visible !important
}

@-webkit-keyframes fadeIn {
  0% {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn
}

.animated-slow {
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}


@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.wrap-scrolldownhoney {
  left: 50%;
  position: absolute;
  text-align: center;
  bottom:3%;
}
.wrap-scrolldownhoney strong{
  color:#FFF;
}
.wrap-scrolldownhoney .scrolldownhoney {
  border: 2px solid #fff;
  border-radius: 30px;
  height: 46px;
  margin: 0 auto 8px;
  text-align: center;
  width: 30px;
}
.wrap-scrolldownhoney .scrolldownhoney .scrolldownhoney-c1,
.wrap-scrolldownhoney .scrolldownhoney .scrolldownhoney-c2 {
  animation-duration: 1.5s;
  animation-name: scrolldownhoney;
  animation-iteration-count: infinite;
  fill: #fff;
}
.wrap-scrolldownhoney .scrolldownhoney-c2 {
  animation-delay: 0.75s;
}
@-moz-keyframes scrolldownhoney {
  0% {
    opacity: 0;
    transform: translate(0, -8px);
  }
  50% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 8px);
  }
}
@-webkit-keyframes scrolldownhoney {
  0% {
    opacity: 0;
    transform: translate(0, -8px);
  }
  50% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 8px);
  }
}
@-o-keyframes scrolldownhoney {
  0% {
    opacity: 0;
    transform: translate(0, -8px);
  }
  50% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 8px);
  }
}
@keyframes scrolldownhoney {
  0% {
    opacity: 0;
    transform: translate(0, -8px);
  }
  50% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 8px);
  }
}
